.header_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 100px;
	color: #fff;
	background-color: #8a2b06;
	/* fixed position */
	position: fixed;
	z-index: 1;
	width: 100%;
}
.header_image {
	overflow: hidden;
	height: 400px;
	width: 100%;
}
.header_image img {
	object-fit: cover;
	-webkit-transform: rotate(-5deg) translateY(-4rem) translateX(-1rem);
	transform: rotate(-5deg) translateY(-4rem) translateX(-1rem);
	width: 110%;
	height: 100%;
}
