.items {
	list-style: none;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #b7b4b4;
	padding: 15px 0;
	font-size: 20px;
	font-weight: 600;
}
.items p {
	font-size: 15px;
	font-weight: normal;
}
.item-details {
	display: flex;
	flex-direction: column;
}
.item-details .price {
	color: #ad5502;
}
.item-details p {
	font-style: italic;
}
.item-details--cart {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-end;
}
.item-details--cart input {
	width: 35px;
	margin-left: 10px;
}
.btn-add {
	color: #fff;
	padding: 5px 25px;
	background-color: #8a2b06;
	text-align: end;
	font-size: 15px;
	font-weight: 700;
	border-radius: 20px;
	border: none;
}
