.cart-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #8a2b06;
	padding: 15px 0;
	font-weight: 600;
}
.cart-item-details {
	display: flex;
	flex-direction: column;
	width: 30%;
}
.cart-item-name {
	font-size: 24px;
}
.cart-item-price-count-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cart-item-price {
	color: #8a2b06;
}
.cart-item-count {
	border: 1px solid rgb(207, 207, 207);
	border-radius: 5px;
	padding: 5px 10px;
}
.cart-item-quantity-control-btns {
	display: flex;
	gap: 10px;
}
.cart-item-quantity-control-btns button {
	font-size: 20px;
	min-width: 55px;
	border: 1px solid #8a2b06;
	color: #8a2b06;
	background-color: #fff;
	border-radius: 5px;
	padding: 5px 20px;
}
.cart-item-quantity-control-btns button:hover {
	color: #fff;
	background-color: #8a2b06;
}
